<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <!-- <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script> -->

    <!-- Add Firebase products that you want to use -->
    <!-- <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script> -->
  </head>
  <body>
    <div id="app">
      <div class="container">
        <p class="txtCenter">
          <input
            type="text"
            placeholder="Enter your name"
            v-model="newUser.username"
          />
          <input
            type="text"
            placeholder="Email Address"
            v-model="newUser.email"
          />
          <button class="add" @click="addUser()">Add</button>
        </p>
        <br />
        <br />

        <table>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr v-for=" user in users">
            <td>{{ user.val.username }}</td>
            <td>{{ user.val.email }}</td>
            <td>
              <button class="edit">Edit</button>
            </td>
            <td>
              <button class="delete" @click="deleteUser(user.key)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          newUser: {
            username: "",
            email: ""
          },
          dbRef: null,
          users: []
        },
        methods: {
          addUser: function() {
            this.dbRef.push(this.newUser);
            this.newUser = { username: "",email: ""};
          },
          deleteUser: function(key){
            // console.log(key);
            this.dbRef.child(key).remove();
          }
        },
        mounted() {
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyCaCyDDRUvbQQt5pn5-vcn8uY4Ukh95uZQ",
            authDomain: "vuecrud-f3e2c.firebaseapp.com",
            databaseURL: "https://vuecrud-f3e2c.firebaseio.com",
            projectId: "vuecrud-f3e2c",
            storageBucket: "",
            messagingSenderId: "1090805765994",
            appId: "1:1090805765994:web:422e758c666218f2"
          };
          // Initialize Firebase
          var firebaseApp = firebase.initializeApp(firebaseConfig);
          this.dbRef = firebaseApp.database().ref("users");

          var ci = this;
          this.dbRef.on("value", function(snapshot) {
            ci.users = [];
            snapshot.forEach(function(childSnapshot) {
              ci.users.push({
                key: childSnapshot.key,
                val: childSnapshot.val()
              });
              console.log(childSnapshot.val());
            });
          });

          // const db = firebase.firestore();
          // db.collection("users")
          //   .add({
          //     first: "Mohin",
          //     last: "Uddin",
          //     born: 1995
          //   })
          //   .then(function(docRef) {
          //     console.log("Document written with ID: ", docRef.id);
          //   })
          //   .catch(function(error) {
          //     console.error("Error adding document: ", error);
          //   });
          // this.dbRef = firebase.database().ref("users");
        }
      });
    </script>
  </body>
</html>
